{%extends 'base.html'%}
{% load static %}
{%block title%}
about us
{%endblock title%}


{%block content%}


<div class="a-main">
  <div class="about-section" style="background: url('{{STATIC_URL}} assets/image/abouts.jpg ') no-repeat left;">
    <div class="inner-container">
        <h1 style="margin-top: -50px;color: rgba(26, 188,156, 1)">About Us</h1>
        <p class="a-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
            <span style="color:  rgba(26, 188,156, 1);">Web Design</span>
            <span style="color:  rgba(26, 188,156, 1)";>Frontend & Backend</span>
            <span style="color:  rgba(26, 188,156, 1);">Coding</span>
        </div>
    </div>
</div> 
</div>
{%endblock %}
  
