{%extends 'base.html'%}
{% load static %}
{%block title%}
{{ post.title }}
{%endblock title%}


{%block content%}
<div style="min-height:625px ;height:auto" class="section-1 " >
    <div class="section-1-H">
        <h1>{{ post.title }}</h1>
    </div> 
    <div class="container ">
        
        <div class="p-a-img img-detail">
        <img class="img-card" src="{%static post.image%}" alt="">
        </div>
        <h3 class="c-author" style="margin-left:10px ;">  AUTHOR :- {{ post.author.first_name }} {{ post.author.last_name }}</h3>
        <h5 class="c-dt">{{post.created_at}}</h5>
        <h4>{{ post.desc}}</h4>
        <p>{{post.detail|safe}}</p>
    </div> 

</div>
{%endblock %}
