{%extends 'base.html'%}
{% load static %}
{%block title%}
blog post
{%endblock title%}


{%block content%}

  <!-- starting blog card -->
<div style="min-height:625px ;height:auto" class="section-1 " >
  <div class="section-1-H">
    <H1>All Posted Blogs</H1>
  </div>
  
  <div class="section-1-m" >
{% for post in object_list %}
    <div class="cards">
      <div class="card-img">
      <img class="img-card" src="{{ post.image}}" alt="">
      </div>
      <div class="img-detail">
        <H4 class="card-t">{{ post.title }}</H4>
        <span  class="c-dt">{{post.created_at}}</span>
        <div class="card-info">
        <span class="c-author">Author -{{ post.author.first_name }} {{ post.author.last_name }}</span>
        </div>
        <p>{{ post.desc}}</p>
       
        <button  class="card-btn"> <a class="link-btn"  href="{%url 'blogdetail' post.slug %}">full Article</a></button>
      </div>
    </div>

{% endfor %}
   
    
</div>   
</div>
{%endblock %}