{%extends 'base.html'%}
{%load static%}
{%block title%}
home
{%endblock title%}


{%block content%}

  <!--banner start  -->
  <div class="banner" style="background-image: url('{{STATIC_URL}} /assets/image/image-nav.jpg');">
    <div class="overlay">
      <div class="text">
        <div class="text-1">
        <h3>Code With Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, illum!</p>
        </div>
        <button type="button" class="btn-1"> start working</button>
      </div>
    </div>
  </div>
<!-- endind banner -->

<!-- starting blog card -->
<div class="section-1 ">
  <div class="section-1-H">
    <H1>Trending Blogs</H1>
  </div>
  <div class="section-1-m" >
    <div class="cards">
      <div class="card-img">
      <img class="img-card" src="{% static '/assets/image/blog-card-1.jpg'%}" alt="">
      </div>
      <div class="img-detail">
        <H4 class="card-t">title</H4>
        <div class="card-info">
        <span class="c-author">author</span>
        <span class="c-dt">date</span><span  style="color: gray;">time</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci amet rem facilis, tempore sint officiis possimus sit? Dolores nemo officiis, quo .</p>
        <button class="card-btn">read more</button>
      </div>
    </div>

    <div class="cards">
      <div class="card-img">
        <img class="img-card" src="{% static '/assets/image/istockphoto-1189210101-170667a.jpg'%}" alt="">
      </div>
      <div class="img-detail">
        
        <H4 class="card-t">title</H4>
        <div class="card-info">
          <span class="c-author">author</span>
          <span class="c-dt">date</span><span  style="color: gray;">time</span>
          </div>
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci amet rem facilis, tempore sint officiis possimus sit? Dolores nemo officiis, quo .</p>
        <button class="card-btn">read more</button>
      </div>
    </div>

    <div class="cards">
      <div class="card-img" >
        <img class="img-card"  src="{%static '/assets/image/blog-card-6.jpg'%}" alt="">
      </div>
      <div class="img-detail">
        <H4 class="card-t">title</H4>
        <div class="card-info">
          <span class="c-author">author</span>

          <span class="c-dt">date</span><span style="color: gray;">time</span>
          </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci amet rem facilis, tempore sint officiis possimus sit? Dolores nemo officiis, quo .</p>
        <button class="card-btn">read more</button>  
      </div>
    </div>

      <div class="cards">
        <div class="card-img">
        <img class="img-card" src="{% static '/assets/image/blog-card-2.jpg'%}" alt="">
        </div>
        <div class="img-detail">
          <H4 class="card-t">title</H4>
          <div class="card-info">
          <span class="c-author">author</span>
          <span class="c-dt">date</span><span  style="color: gray;">time</span>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci amet rem facilis, tempore sint officiis possimus sit? Dolores nemo officiis, quo .</p>
          <button class="card-btn">read more</button>
        </div>
      </div>
  
      <div class="cards">
        <div class="card-img">
          <img class="img-card" style="height: 250px;" src="{%static 'assets/image/blog-card-4.jpg'%}" alt="">
        </div>
        <div class="img-detail">
          
          <H4 class="card-t">title</H4>
          <div class="card-info">
            <span class="c-author">author</span>
            <span class="c-dt">date</span><span  style="color: gray;">time</span>
            </div>
         
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci amet rem facilis, tempore sint officiis possimus sit? Dolores nemo officiis, quo .</p>
          <button class="card-btn">read more</button>
        </div>
      </div>
  
      <div class="cards">
        <div class="card-img" >
          <img class="img-card"  src="{% static 'assets/image/blog-card-5.jpg'%}" alt="">
        </div>
        <div class="img-detail">
          <H4 class="card-t">title</H4>
          <div class="card-info">
            <span class="c-author">author</span>
  
            <span class="c-dt">date</span><span style="color: gray;">time</span>
            </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci amet rem facilis, tempore sint officiis possimus sit? Dolores nemo officiis, quo .</p>
          <button class="card-btn">read more</button>  
        </div>
      </div>
  
</div>
</div>



<!-- starting section 2-->
<div class="section-2">
  <div class="section-2-deatil ">
      <div class="img-detail"><h1 class="section-1-H" style=" margin-bottom:-20px;">Our Community</h1>
    <p class="container img-deatil" style="color: #1c1b29;font-weight:500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora necessitatibus aut eius labore enim, laborum deleniti dolorum similique cumque commodi odio et! Earum facilis ab quaerat exercitationem incidunt sunt beatae vel excepturi, soluta dolorem ipsum commodi quam id inventore esse non sequi nihil velit laboriosam tempora ex dolorum animi nisi! Suscipit distinctio modi deserunt quia. Eligendi iure tempore mollitia minima unde hic est amet cupiditate, minus, molestias voluptas earum dolore praesentium inventore. Omnis labore necessitatibus incidunt at ipsum debitis id laboriosam ducimus doloribus voluptatibus tempore ipsa harum dolores minima beatae, nostrum neque. Repellendus accusamus eaque sint saepe voluptatem nisi? Hic.</p>
    </div>
 
  </div>
  <div class="num-img" style="background-image: url('{{STATIC_URL}} /assets/image/pexels-fauxels-3183186.jpg' )">

  </div> 
    <div class="section-2-num ">
      <div class="num-card">
        <div class="num-card-d">
        <h1>50+</h1>
        <h3>blogs</h3>
        </div>
      </div>
      <div class="num-card">
        <div class="num-card-d">
        <h1>100+</h1>
        <h3>members</h3>
        </div>
      </div>
      <div class="num-card">
        <div class="num-card-d">
        <h1>500+</h1>
        <h3>daily clicks</h3>
        </div>
      </div>
    </div> 

</div>

<!-- about us section -->
<div class="about">
<div class="section-1-H" style="background-color:   #1c1b29; color:white">
  <h1>About us </h1>
</div>
    <div class="container img-detail" style="padding-bottom:50px ;">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor consectetur tempora nam ipsa perspiciatis alias sapiente quidem, modi ad inventore, est aut aspernatur nobis expedita beatae corrupti at illum dolore nisi cum? Magni aliquam accusantium quos porro voluptates corporis atque ab labore earum corrupti ullam voluptatibus ducimus cum eaque odio, fuga assumenda? Ipsam ipsa sunt illum, quidem nisi, vitae perferendis iusto sint quod nesciunt inventore doloribus quia, tempora quibusdam velit earum atque ducimus similique. Nostrum, quibusdam hic. Voluptatum, optio praesentium.</p>
    </div>
</div>

 <!-- our partners section-->
<div class="partner">
  <h1 class="section-1-H">Our Other Partners</h1>
  <div class="container p-imgs">
    <div class="p-img partner-1" style="background-image: url('{{STATIC_URL}}/assets/image/partner-1.jpg')">
      <div class="p-text">
        <h2>TYgym.com</h2>
      </div>
      
    </div>
    <div class="p-img partner-2" style="background-image: url('{{STATIC_URL}}/assets/image/partner-6.jpg')">
      <div class="p-text">
        <h2>Freecourses.org</h2>
      </div> 
    </div>
    <div class="p-img partner-3" style="background-image: url('{{STATIC_URL}}/assets/image/partner-2.jpg')">
      <div class="p-text">
        <h2>tamnaySports</h2>
      </div>
     
    </div>
    <div class="p-img partner-4" style="background-image: url('{{STATIC_URL}}/assets/image/partner-5.jpg')">
      <div class="p-text">
        <h2>Abhimusic.com</h2>
      </div>
      
    
    </div>
    <div class="p-img partner-5" style="background-image: url('{{STATIC_URL}}/assets/image/partner-3.jpg')">
      <div class="p-text">
        <h2>VKtravels.com</h2>
      </div>
    </div> 

    <div class="p-img partner-6" style="background-image: url('{{STATIC_URL}}/assets/image/partner-4.jpg')">
      <div class="p-text">
        <h2>infiniteShoes.com</h2>
      </div>  
    </div>
  </div>
</div>

<!-- footer  -->
<div class="footer">
  <div class="footer-con container">
    <div class="footer-child fc-1">
     <h1 >LOGO</h1>
    </div> 
    <div class="footer-child fc-2">
      <ul>
        <li style="font-size: 30px;">Quick Link</li>
        <li style="cursor:pointer">Home</li>
        <li style="cursor:pointer">Blog</li>
        <li style="cursor:pointer">About</li>
        <li style="cursor:pointer">Contact</li>
      </ul>
    </div> 
    <div class="footer-child fc-3">
      <ul>
        <li style="font-size: 30px;">Contact Us</li>
        <li>B-22, 34-Street, Near RK Store, Janak Puri, New Delhi 110055 </li>
        <li>7839783378</li>
        <li>Shadow@gamil.com</li>
      </ul>
    </div> 
    <div class="footer-child fc-4"  >
      <div class="social" style="margin-top: -30px;margin-left:20px">
        <div class="s-icon"><img src="{%static '/assets/image/facebook.png'%}" alt=""></div>
        <div class="s-icon"><img src="{%static '/assets/image/github.png'%}"alt=""></div>
        <div class="s-icon"><img src="{%static '/assets/image/linkedin.png'%}" alt=""></div>
       
      </div>
    </div>
  </div>
</div>




{%endblock %}